In [124]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [62]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [/Users/Kaboni/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [63]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [64]:
for x in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    titles = soup.find_all('div', class_='content_title')

titles

[<div class="content_title">How NASA's Mars Helicopter Will Reach the Red Planet's Surface</div>,
 <div class="content_title">Three New Views of Mars' Moon Phobos</div>,
 <div class="content_title">NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network</div>,
 <div class="content_title">A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes</div>,
 <div class="content_title">AI Is Helping Scientists Discover Fresh Craters on Mars</div>,
 <div class="content_title">Q&amp;A with the Student Who Named Ingenuity, NASA's Mars Helicopter</div>,
 <div class="content_title">NASA Adds Return Sample Scientists to Mars 2020 Leadership Team</div>,
 <div class="content_title">NASA Mars Mission Connects With Bosnian and Herzegovinian Town</div>,
 <div class="content_title">Two of a Space Kind: Apollo 12 and Mars 2020</div>,
 <div class="content_title">How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus </div>,
 <div class="content_title">NASA Moves Forward With Campaign to Return Mars Samples to Earth</div>,
 <div class="content_title">Celebrate Mars Reconnaissance Orbiter's Views From Above</div>,
 <div class="content_title">NASA's Mars 2020 Rover Completes Its First Drive</div>,
 <div class="content_title">NASA's Mars Helicopter Attached to Mars 2020 Rover </div>,
 <div class="content_title">7 Things to Know About the Mars 2020 Perseverance Rover Mission</div>]

In [65]:
for title in titles:
        news_title = title.text
        break

In [66]:
news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [67]:
for y in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    paras = soup.find_all('div', class_='article_teaser_body')

paras

[<div class="article_teaser_body">The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.</div>,
 <div class="article_teaser_body">Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Marsâ€™ shadow.</div>,
 <div class="article_teaser_body">Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.</div>,
 <div class="article_teaser_body">Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition. </div>,
 <div class="article_teaser_body">It's the first time machine learning has been used to find previously unknown craters on the Red Planet.</div>,
 <div class="article_teaser_body">As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.</div>,
 <div class="article_teaser_body">The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.</div>,
 <div class="article_teaser_body">A letter from NASA was presented to the mayor of Jezero, Bosnia-Herzegovina, honoring the connection between the town and Jezero Crater, the Mars 2020 rover landing site.</div>,
 <div class="article_teaser_body">Apollo 12 and the upcoming Mars 2020 mission may be separated by half a century, but they share several goals unique in the annals of space exploration.</div>,
 <div class="article_teaser_body">Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.</div>,
 <div class="article_teaser_body">During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.</div>,
 <div class="article_teaser_body">Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.</div>,
 <div class="article_teaser_body">In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.</div>,
 <div class="article_teaser_body">The helicopter will be first aircraft to perform flight tests on another planet.</div>,
 <div class="article_teaser_body">NASA's next rover to the Red Planet is slated to launch no earlier than July 30. These highlights will get you up to speed on the ambitious mission.</div>]

In [68]:
for para in paras:
        news_p = para.text
        break

In [69]:
news_p

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

In [70]:
browser.quit()

In [71]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [/Users/Kaboni/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [72]:
url_2 = 'https://spaceimages-mars.com/'
browser.visit(url_2)

In [73]:
#('img', class_='headerimage fade-in')
for z in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    images = soup.find('div', class_='floating_text_area')

image_url = images.find('a')['href']

In [74]:
featured_image_url = [url_2 + image_url]
featured_image_url

['https://spaceimages-mars.com/image/featured/mars3.jpg']

In [75]:
browser.quit()

In [76]:
import pandas as pd

In [77]:
url = 'https://galaxyfacts-mars.com/'

In [78]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [79]:
type(tables)

list

In [80]:
mars_df = mars_df = tables[0]
mars_df.head(15)

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [81]:
new_header = mars_df.iloc[0] #grab the first row for the header
mars_df = mars_df[1:] #take the data less the header row
mars_df.columns = new_header #set the header row as the df header
mars_df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [82]:
mars_df.set_index(['Mars - Earth Comparison'], inplace=True)
mars_df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 Â°C      -88 to 58Â°C

In [83]:
mars_df.to_html('mars_df.html')

In [84]:
mars_df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 Â°C      -88 to 58Â°C

In [125]:
#################
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430

[WDM] - Driver [/Users/Kaboni/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [126]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [127]:
hemisphere_image_urls = []

In [ ]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    cerberus = soup.find_all('div', class_='collapsible results')
    
    for x in cerberus:
        cerberus__1 = x('a')[0]['href']

In [89]:
url__2 = 'https://marshemispheres.com/' + cerberus__1
browser.visit(url__2)

In [90]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    cerberus__1_title = soup.find('h2', class_='title').text

cerberus__1_title

'Cerberus Hemisphere Enhanced'

In [91]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    cerberus__1 = soup.find_all('img', class_='wide-image')
    
    for x in cerberus__1:
        cerberus__1_url = x['src']
        
cerberus__1_url

'images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [92]:
cerberus_info = {"title": cerberus__1_title, "img_url": url + cerberus__1_url}
cerberus_info

{'title': 'Cerberus Hemisphere Enhanced',
 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

In [93]:
hemisphere_image_urls.append(cerberus_info)

In [94]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}]

In [96]:
browser.back()

In [98]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    schiaparelli = soup.find_all('div', class_='collapsible results')
    
    for x in schiaparelli:
        schiaparelli__1 = x('a')[2]['href']
        
schiaparelli__1

'schiaparelli.html'

In [99]:
url__3 = 'https://marshemispheres.com/' + schiaparelli__1
browser.visit(url__3)

In [100]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    schiaparelli__1_title = soup.find('h2', class_='title').text

schiaparelli__1_title

'Schiaparelli Hemisphere Enhanced'

In [101]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    schiaparelli__1 = soup.find_all('img', class_='wide-image')
    
    for x in schiaparelli__1:
        schiaparelli__1_url = x['src']
        
schiaparelli__1_url

'images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [102]:
schiaparelli_info = {"title": schiaparelli__1_title, "img_url": url + schiaparelli__1_url}
schiaparelli_info

{'title': 'Schiaparelli Hemisphere Enhanced',
 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

In [103]:
hemisphere_image_urls.append(schiaparelli_info)

In [104]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}]

In [106]:
browser.back()

In [108]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    syrtis = soup.find_all('div', class_='collapsible results')
    
    for x in syrtis:
        syrtis__1 = x('a')[4]['href']
        
syrtis__1

'syrtis.html'

In [109]:
url__4 = 'https://marshemispheres.com/' + syrtis__1
browser.visit(url__4)

In [110]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    syrtis__1_title = soup.find('h2', class_='title').text

syrtis__1_title

'Syrtis Major Hemisphere Enhanced'

In [111]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    syrtis__1 = soup.find_all('img', class_='wide-image')
    
    for x in syrtis__1:
        syrtis__1_url = x['src']
        
syrtis__1_url

'images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [112]:
syrtis_info = {"title": syrtis__1_title, "img_url": url + syrtis__1_url}
syrtis_info

{'title': 'Syrtis Major Hemisphere Enhanced',
 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

In [113]:
hemisphere_image_urls.append(syrtis_info)
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]

In [115]:
browser.back()

In [117]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    valles = soup.find_all('div', class_='collapsible results')
    
    for x in valles:
        valles__1 = x('a')[6]['href']
        
valles__1

'valles.html'

In [118]:
url__5 = 'https://marshemispheres.com/' + valles__1
browser.visit(url__5)

In [119]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    valles__1_title = soup.find('h2', class_='title').text

valles__1_title

'Valles Marineris Hemisphere Enhanced'

In [120]:
for k in range(1):

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    valles__1 = soup.find_all('img', class_='wide-image')
    
    for x in valles__1:
        valles__1_url = x['src']
        
valles__1_url

'images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [121]:
valles_info = {"title": valles__1_title, "img_url": url + valles__1_url}
valles_info

{'title': 'Valles Marineris Hemisphere Enhanced',
 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}

In [122]:
hemisphere_image_urls.append(valles_info)
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [123]:
browser.quit()